<?xml version="1.0" encoding="UTF-8"?>
<event xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xmlns="http://l2j.org" xsi:schemaLocation="http://l2j.org ../../../../xsd/eventConfig.xsd"
	name="Happy Hours" start-date="2017-09-05" end-date="2017-10-03"
	start-message="Happy Hours: Event ongoing!"
    end-message="Happy Hours: Event end!">

	<spawns>
		<spawn npc="34262" x="-84008" y="243032" z="-3728" heading="49744" /> <!-- Talking Island -->
		<spawn npc="34262" x="45688" y="49080" z="-3056" heading="49744" /> <!-- Elven Village -->
		<spawn npc="34262" x="-44584" y="-113608" z="-192" heading="49744" /> <!-- Orc Village -->
		<spawn npc="34262" x="10643" y="17034" z="-4592" heading="49744" /> <!-- Dark Elven Village -->
		<spawn npc="34262" x="115656" y="-178056" z="-912" heading="49744" /> <!-- Dwarf Village -->
		<spawn npc="34262" x="-80485" y="149537" z="-3016" heading="16383" /> <!-- Gluddin -->
		<spawn npc="34262" x="-14143" y="123176" z="-3096" heading="30212" /> <!-- Gludio -->
		<spawn npc="34262" x="16354" y="142848" z="-2680" heading="14450" /> <!-- Dion -->
		<spawn npc="34262" x="82312" y="148616" z="-3440" heading="3355" /> <!-- Giran -->
		<spawn npc="34262" x="82008" y="53874" z="-1472" heading="3355" /> <!-- Oren -->
		<spawn npc="34262" x="147064" y="25928" z="-2008" heading="17863" /> <!-- Aden -->
		<spawn npc="34262" x="117380" y="76684" z="-2672" heading="40961" /> <!-- Hunters Village -->
		<spawn npc="34262" x="147464" y="-56984" z="-2784" heading="11547" /> <!-- Goddard -->
	</spawns>
	<!-- Sibi's Coin, Balthus Knight Mark, Balthus Knight Supply Box, Sibi's Coin Box -->
	<destroy-items-on-end>49783 49784 49782 49800</destroy-items-on-end>
</event>