<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" monitorInterval="30">
    <properties>
        <Property name="pattern">[%-5p][%d{yyyy-MM-dd HH:mm:ss}][%tid][%c{1}:%M:%L]: %msg%n%throwable</Property>
    </properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{${pattern}}{Bright}"/>
            <ThresholdFilter level="info"/>
        </Console>

        <RollingFile name="auth" filename="logs/auth.log" filepattern="logs/$${date:yyyy-MM}/auth-%d{dd-MM-yyyy}-%i.log.gz"  append="true" >
            <PatternLayout pattern="${pattern}" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="100" fileIndex="min"/>
            <ThresholdFilter level="info"/>
        </RollingFile>

        <RollingFile name="loginHistory" filename="logs/login_history.log" filepattern="logs/$${date:yyyy-MM}/login_history-%d{dd-MM-yyyy}-%i.log.gz" append="true" >
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}]: %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="100" fileIndex="min"/>
            <ThresholdFilter level="info"/>
        </RollingFile>

        <RollingFile name="debug" filename="logs/debug.log" filepattern="logs/$${date:yyyy-MM}/debug-%d{dd-MM-yyyy}-%i.log.gz" append="true" >
            <PatternLayout pattern="${pattern}" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="100" fileIndex="min"/>
            <ThresholdFilter level="debug"/>
        </RollingFile>


    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
        <Logger name="org.l2j.authserver" level="info">
            <AppenderRef ref="auth"/>
        </Logger>
        <Logger name="com.zaxxer.hikari" level="error">
            <AppenderRef ref="debug"/>
        </Logger>
        <Logger name="loginHistory" level="info">
            <AppenderRef ref="loginHistory"/>
        </Logger>
        <Logger name="MySQL" level="error">
            <AppenderRef ref="debug"/>
        </Logger>
    </Loggers>
</Configuration>