<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" monitorInterval="300">
    <properties>
        <Property name="pattern">[%-5p][%d{yyyy-MM-dd HH:mm:ss}][%c{1}:%M:%L]: %msg%n</Property>
    </properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
            <ThresholdFilter level="ALL"/>
        </Console>

        <RollingFile name="game" filename="logs/game.log" filepattern="logs/game.log.%i" append="true" >
            <PatternLayout pattern="${pattern}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="50 MB" />
            </Policies>
            <DefaultRolloverStrategy max="100" fileIndex="min"/>
            <ThresholdFilter level="info"/>
        </RollingFile>

        <RollingFile name="debug" filename="logs/debug.log" filepattern="logs/debug.log.%i" append="true" >
            <PatternLayout pattern="${pattern}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="50 MB" />
            </Policies>
            <DefaultRolloverStrategy max="100" fileIndex="min"/>
            <ThresholdFilter level="debug"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
        <Logger name="com.it.br" level="info">
            <AppenderRef ref="game"/>
            <AppenderRef ref="debug"/>
        </Logger>
        <Logger name="com.zaxxer.hikari" level="info">
            <AppenderRef ref="game"/>
            <AppenderRef ref="debug"/>
        </Logger>
        <Logger name="MySQL" level="error">
            <AppenderRef ref="game"/>
            <AppenderRef ref="debug"/>
        </Logger>
    </Loggers>
</Configuration>