<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" monitorInterval="300" shutdownHook="disable">
    <properties>
        <Property name="pattern">[%-5p][%d{yyyy-MM-dd HH:mm:ss}][%c{1}:%M:%L]: %msg%n%throwable</Property>
    </properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{${pattern}}"/>
            <ThresholdFilter level="INFO"/>
        </Console>

        <RollingFile name="game" filename="logs/game.log" filepattern="logs/$${date:yyyy-MM}/game-%d{dd-MM-yyyy}-%i.log.gz" append="true" >
            <PatternLayout pattern="${pattern}"  />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5" fileIndex="min"/>
            <ThresholdFilter level="info"/>
        </RollingFile>

        <RollingFile name="debug" filename="logs/debug.log" filepattern="logs/$${date:yyyy-MM}/debug-%d{dd-MM-yyyy}-%i.log.gz" append="true" >
            <PatternLayout pattern="${pattern}" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5" fileIndex="min"/>
            <ThresholdFilter level="debug"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
        <Logger name="org.l2j.gameserver" level="info">
            <AppenderRef ref="game"/>
        </Logger>
        <Logger name="org.l2j" level="debug">
            <AppenderRef ref="debug"/>
        </Logger>
        <Logger name="org.l2j.gameserver.network" level="info">
            <AppenderRef ref="debug"/>
        </Logger>
        <Logger name="com.zaxxer.hikari" level="info">
            <AppenderRef ref="game"/>
            <AppenderRef ref="debug"/>
        </Logger>
        <Logger name="MySQL" level="error">
            <AppenderRef ref="game"/>
            <AppenderRef ref="debug"/>
        </Logger>
        <Logger name="org.ehcache" level="error">
            <AppenderRef ref="game"/>
            <AppenderRef ref="debug"/>
        </Logger>
    </Loggers>
</Configuration>